body {
    display: flex;

    margin: 0;
}

#info {
    background-color: #013E7A;
    color: #80BFFF;

    width: 20%;
    height: 100%;

    position: fixed;
    left: 0;
}

#info h1 {
    text-align: center;
    font-size: 2vw;
}
.pfp {
    width: 10vw;
    height: auto;
    border-radius: 50%;

    display: block;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

#info ul {
    list-style-type: none;
}

.onevw {
    width: 1vw;
    font-size: 1vw;
}

.social {
    width: 25vw;
    margin: auto;
}

.social li {
    float: left;
}

.social img {
    height: 1.9vw;
    margin-right: 0.9vw;
    text-align: center;
    display: block;
}

.main {
    background-color: #80BFFF;
    background-image: url("images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    width: 50%;
    height: 232vw;

    position: absolute;
    left: 20%;
}

#goal {
    background-color: #013E7A;
    color: #80BFFF;

    width: 40vw;
    height: 20vw;

    margin-top: 12.5vw;
    margin-left: auto;
    margin-right: auto;
}

#character {
    background-color: #013E7A;
    color: #80BFFF;

    width: 40vw;
    height: 23vw;

    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
}

.font {
    font-size: 1vw;
}

.fontander {
    font-size: 1.3vw;
}

.font2 {
    font-size: 2vw;
}

#character table {
    padding: 0.6vw;
    border: 0.2vw solid #80BFFF;
    border-radius: 0.5vw;
}

#character img {
    width: 2vw;
}

#special {
    background-color: #013E7A;
    color: #80BFFF;

    width: 40vw;
    height: 29.5vw;

    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
}

#special {

}

#eduskills {
    background-color: #013E7A;
    color: #80BFFF;

    width: 40vw;
    height: 50vw;

    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
}

#eduskills p {
    margin-left: 2.5vw;
}

#education {
    background-color: #59AEF0;

    width: 32%;
    height: 2vw;
}

#skills {
    margin-top: 4vw;
}

#myskills {
    width: 34vw;
    margin-top: 1vw;
}

#myskills td {
    width: 5vw;
}

#ai {
    background-color: #2785FF;
    color: #013E7A;

    height: 9vw;
}

#code {
    background-color: #59AEF0;
    color: #013E7A;

    height: 8.5vw;
}

#ae {
    background-color: #48C3F1;
    color: #013E7A;

    height: 8vw;
}

#ps {
    background-color: #2785FF;
    color: #013E7A;

    height: 7.5vw;
}

#id {
    background-color: #59AEF0;
    color: #013E7A;

    height: 7.2vw;
}

#xd {
    background-color: #48C3F1;
    color: #013E7A;

    height: 7vw;
}

#pr {
    background-color: #2785FF;
    color: #013E7A;

    height: 6vw;
}

#mission {
    background-color: #013E7A;
    color: #80BFFF;

    width: 40vw;
    height: 37.5vw;

    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
}

#mission p {
    font-size: 1vw;
}

.first {
    background-color: #59AEF0;
    color: #013E7A;

    width: 11vw;
    height: 20vw;
    float: left;
}

.second {
    background-color: #2785FF;
    color: #013E7A;

    width: 11vw;
    height: 15vw;
    float: left;
}

.third {
    background-color: #48C3F1;
    color: #013E7A;

    width: 11vw;
    height: 10vw;
    float: left;
}

table {
    margin: auto;
}

td {
    vertical-align: bottom;
    text-align: center;

    padding: 0.3vw;
}

#numbers {
    font-size: 3vw;
}

#missions {
    font-size: 1.5vw;
}

.title {
    font-size: 2.5vw;

    text-align: center;
    padding-top: 1vw;
    padding-left: 1vw;
}

#mission p {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 0;
}

.bar {
    background-color: #013E7A;

    width: 5%;
    height: 232vw;

    position: absolute;
    left: 70%;
}

#scroll {
    background-color: #80BFFF;

    width: 25%;
    height: 232vw;

    position: absolute;
    left: 75%;
}

a {
    color: #80BFFF;
    text-decoration: none;
}

a:visited {
    color: #80BFFF;
}

* {box-sizing:border-box}

.skills {
    text-align: right;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: #013E7A;
}

#menu {
    display: block;
    text-align: center;
    position: fixed;
    left: 70.9%
}

#menu a {
    display: block;
    text-align: center;
}

#menu img {
    width: 3vw;
    margin-top: 1.5vw;

    float: top;
}

#lang {
    background-color: #013E7A;
    color: #80BFFF;

    width: 40vw;
    height: 30vw;

    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
}

#lang p {
    font-size: 1vw;
}

#bars {
    position: relative;
    top: 50%;
    transform: translateY(-70%);
}

#bars p {
    margin-left: 2.5vw;
}

#bars b {
    margin-right: 0.5vw;
}

.container {
    width: 35vw;
    height: 2vw;
    background-color: #add8e6;

    margin-left: auto;
    margin-right: auto;
}

.dutch {
    background-color: #2785FF;

    width: 100%;
    height: 2vw;
}
.english {
    background-color: #59AEF0;

    width: 90%;
    height: 2vw;
}

.french {
    background-color: #48C3F1;

    width: 65%;
    height: 2vw;
}

.german {
    background-color: #2785FF;

    width: 15%;
    height: 2vw;
}

.timeline {
    margin-top: 1vw;
}

#adobe img {
    width: 3vw;
}

.timeline_edu table {
    border-collapse: collapse;
}

.timeline_edu {
    width: 33vw;
    height: 10vw;

}

.firstrow {
    background-color: #2785FF;
    color: #013E7A;
}

.secondrow {
    background-color: #59AEF0;
    color: #013E7A;
}

.thirdrow {
    background-color: #48C3F1;
    color: #013E7A;
}

#diploma {
    font-size: 1vw;
    width: 30vw;
    margin: auto;
}

.timegoal {
    height: 10vw;
}

.timegoal {
    font-size: 1vw;
}

.timeline_edu img {
    height: 1.5vw;
    vertical-align: middle;
}

.timeline_edu td {
    vertical-align: middle;
}

#numbers2 {
    font-size: 1.5vw;
}

#scroll img {
    width: 24.72vw;
}

.center {
    text-align: center;
    font-size: 1vw;
}

.centerimg {
    display: block;
    margin: auto;
}